.header {
    color: white;
    background-color: var(--color-secondary);
}

.header img {
    width: 500px;
}

.section-home-featured {
    background-color: var(--color-secondary-light);
    text-align: center;
}

.section-home-featured p {
    font-size: 1.3em;
}

.section-featured-paragraph {
    background-color: white;

}